{% extends "base.html" %}
{% block title %} Home {% endblock %}



{% block content %}
<style>
    body {
        background-color: rgb(229, 224, 224);
    }
</style>

<body>
  <div class="container">
    <h1 class="text-center">Welcome to ACharyamart</h1>
    <h2 style="color:Red">Most viewed items of our mart</h2>
    <div class="d-flex justify-content-around  flex-wrap">
        {% for product in products %}
        <div class="card mt-5" style="width: 12rem;">
            <h5 class="card-title text-center"><strong>{{product.title}}</a></strong></h5>
            <img src="{{product.image.url}}" class="img-fluid" ></img><br>
            <hr>
            <div class="card-body text-center">
                <p><a href="{% url 'ecomapp:productinfo' product.id %}">Know More</a></p>
                <p>Price:<strike>Rs.{{product.marked_price}}</strike>Rs.{{product.selling_price}}</p>


                <a class="btn btn-primary" href="{% url 'ecomapp:addtocart' product.id %}">Add To Cart</a>

            </div>
        </div>
        {% endfor %}
    </div>
  </div>


  <!-- pagination  -->
  <div class="text-center mt-5 ">
  <span class="current text-center">
    Page {{ prod_list.number }} of {{ prod_list.paginator.num_pages }}.
</span>
  <div class="pagination  mx-auto mb-4" style="width: 200px;">
    
    {% if products.has_previous %}
            <li class="page-item"><a  class="page-link" href="?page=1"> first</a></li>
            <li class="page-item"><a  class="page-link" href="?page={{ products.previous_page_number }}">previous</a></li>
        {% endif %}

        <span class="current ">
          
          <li class="page-item page-link bg-dark text-white">{{ products.number }}</a></li>
        </span>

        {% if products.has_next %}
        <li class="page-item"><a  class="page-link" href="?page={{ products.next_page_number }}">next</a></li>
            <li class="page-item"><a  class="page-link" href="?page={{ products.paginator.num_pages }}">last </a></li>
            {% endif %}
    
</div>

</div>





</body>
{% endblock %}