{% extends "base.html" %}
{% block title %} Login {% endblock %}



{% block content %}
<style>
  body
  {
    background-color: rgb(168, 67, 67);
  }
  .errorList{
    color:red;
  }
</style>
<body>

    <div class="containter pt-4 text-center ">
        <div class="col-lg-5 shadow  mx-auto p-0 bg-light">
          <div class="alert alert-success">
            <h2>Create Account</h2><div class="form-check form-switch">
              <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off" onclick="check(this)" >
              <label class="btn btn-outline-danger" for="success-outlined" id="danger2"><a href="{% url 'ecomapp:login' %}">Login</a></label>
              
              <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off" onclick="check(this)" >
              <label class="btn btn-outline-danger" id="danger2" for="danger-outlined"><a href="{% url 'ecomapp:signup' %}">Signup</a></label>
            </div>
          </div>
          <div class="p-4">
            <h1>{{message}}</h1>
            {% if error %}
            {{error}}
            {% endif %}

            <!-- error messages for invalid credential -->
            {% if messages %}
            {% for message in messages %}
          <h1 style="color:red">{{message}}</h1>
          {% endfor %}
            {% endif %}
            <form method="post" id="{{purpose}}" >
              
              {% csrf_token %}
              {{ form.as_p}}
              <hr>
              <input class="btn btn-outline-danger" type="submit" value="{{purpose}}">
              
            </form>
            
           <a href="{% url 'ecomapp:forgetpassword' %}">Forget your password? Click here to reset</a>
            
          </div>
          
       </div>
        </div>
      </div>
</body>
<script>

    


   
  
    
    

  </script>
{% endblock %}
