{% extends "base.html" %}
{% block title %} -forget Password {% endblock %}



{% block content %}
<style>
    body{
        background-color: rgb(202, 151, 151);
    }
    .errorList{
    color:red;
  }
</style>
<body>

    <div class="container text-center p-5">
        {% if request.GET.sent == "yes" %}
        <p style="color:rgb(15, 7, 7)">Reset link sent to email check it</p>
        {% else %}
        <h1>Enter your email to get password reset link</h1>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary" type="submit">Get Reset Link</button>
        </form>
        {% endif %}
    </div>
</body>
{% endblock %}
