{% extends "base.html" %}
{% block title %} -reset password {% endblock %}



{% block content %}
<style>
    body{
        background-color: rgb(202, 151, 151);
    }
    .errorList{
    color:red;
  }
</style>
<body>

    <div class="container text-center p-5">
    
        <h1>Enter your new password</h1>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary" type="submit">Confirm</button>
        </form>
      
    </div>
</body>
{% endblock %}
